<div class="container top-padding-med" ng-if="!loading">
    <h3>Manage Registrations</h3>
    <h4>{{event.name}} on {{event.date | date:"fullDate"}}</h4>
    <div class="pull-right">
        <div class="buttons">
            <a href="#/events/{{event._id}}" class="btn btn-default">
                <i class="glyphicon glyphicon-plus"></i> New Registration
            </a>
        </div>
    </div>
    <table class="table table-hover table-striped table-condensed">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th class="text-center">Active</th>
                <th>Cancel Registration</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="registration in event.registrations | orderBy: 'date'">
                <td>{{registration.name}}</td>
                <td>{{registration.email}}</td>
                <td>{{registration.phone}}</td>
                <td class="text-center">
                    <i class="glyphicon glyphicon-ok" ng-if="registration.active"></i>
                </td>
                <td class="action-icons">
                    <a href="#/registrations/{{registration._id}}/cancel" class="btn btn-default">
                        <i class="glyphicon glyphicon-remove"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>